nav
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background:#f9f9f9;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: .3em;
}
nav li
{
	float:right;
	border:outset 1px;
	margin-right:10px;
}
#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding.5em;
	float:left;
}

#studentLogin
{
	margin-right: 10em;
}
body
{
	padding-top: 1em;
}
#features
{
	float:left;
	width:74%;
	background-color:red;
	border:solid;
}

#signUp
{
	width: 25%;
	background-color:blue;
	border:solid;
	float:right;
}
#signUp form div span
{
	float:left;
	clear:both;
}