nav
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background:#f9f9f9;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: .3em;
}
nav li
{
	float:right;
	border:outset 1px;
	margin-right:10px;
}
#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding.5em;
	float:left;
}
nav li a
{
	display: block;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	padding:.5em;
}
body
{
	padding-top: 1em;
	background-color:red;
}
body div h2
{
	margin-left: 1em;
}
#add
{
	float:left;
	width:35%;
	background-color:salmon;
	margin-left: 5em;
	margin-top:5em;
	padding-bottom:3em;
}
#add div
{
	margin-left:3em;
}
#add div div span
{
	float:left;
	clear: both;
	display:block;
}
#add div div span
{
	display:block;
	width:35em;
}
#add div div span label
{
	float:left;
}
#add div div span input
{
	float:left;
}
#add div div .meetTime label
{
	float:left;
	clear:none;
}
#add div div .meetTime input
{
	float:none;
	clear:none;
}
.meetTime
{
	margin-left:2em;
}
.meetTime span
{
	float:right;
	margin-left:2em;
	margin-bottom:1em;
}
#end
{
	float:none;
}
#classes
{
	float:right;
	width:25%;
	background-color:salmon;
	margin-right:5em;
	margin-top:5em;
	margin-bottom:5em;
}
#classes ul
{
	list-style:none;
}
#classes li
{
	float:left;
	margin-right:0.5em;
}
#classes li:nth-child(1)
{
	width:15em;
}