nav
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background:#f9f9f9;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: .3em;
}
nav li
{
	float:left;
	border:outset 1px;
	margin-right:5px;
}
nav li a
{
	display: block;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	padding:.5em;
}
nav li a:hover
{
	background-color:#333;
	color: #fff;
	text-decoration:none;
}
nav li ul
{
	display:none;
	position:absolute;
	padding:0;
}
nav li:hover ul
{
	display:block;
}

nav li li
{
	float:none;
	border-bottom: 1px solid #ccc;
}
nav li li a
{
	border:0;
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
}
body
{
	padding-top: 1em;
