nav
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background:BLUE;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: .3em;
}
nav li
{
	float:right;
	border:outset 1px;
	margin-right:10px;
}

#studName
{
	color:white;
	box-shadow: 2px 2px 3px black;
}

#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding.5em;
	float:left;
	background:white;
}
nav li a
{
	display: block;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	padding:.5em;
}
body
{
	padding-top: 1em;
}

#add
{
	border-radius:1em;
	float:left;
	width:45em;
	background-color:cyan;
	border:solid;
	padding-bottom:3em;
}
#classes
{
	border-radius:1em;
	float:right;
	width:50em;
	background-color:cyan;
	border:solid;
	margin-right:5em;
	margin-top:5em;
	margin-bottom:5em;
	wrap:normal;
}
#checkIn
{
	border-radius:1em;
	padding-bottom:2em;
	background-color:cyan;
	border:solid;
	float:left;
	clear:left;
	width:30em;
}
body div form
{
	margin-left:5em;
}
body div
{
	margin-top:5em;
	margin-left:3em;
}
body div h2
{
	margin-left:2em;
}
#classes form ul
{
	list-style:none;
}
#classes form li
{
	float:left;
	margin-right:0.5em;
}
#classes form li:nth-child(1)
{
	width:25em;
}