nav
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background:BLUE;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: .3em;
}
nav li
{
	float:right;
	margin-right:10px;
}
#loginButton
{

	width:100%;
	font-size: 1.0em;
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	background-color:#cccccc;
}
#enroll
{
	width:10%;
	font-size:1.0em;
	background-color:#cccccc;
}
#check-In
{
	width:20%;
	font-size:1.0em;
	background-color:#cccccc;
}
input[type="text"]
{
	position:relative;
	font-size:1.5em;
}

#studName
{
	color:#f9f9f9;
}

#logoPlacement
{
	float:left;
	border:none;
	display:block;
	padding:.5em;
	float:left;
	background:white;
}
nav li a
{
	display: block;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	padding:.5em;
}
body
{
	padding-top: 1em;
}

#add
{
	border-radius:1em;
	float:left;
	width:45%;
	background-color:cyan;
	border:solid;
	padding-bottom:2%;
}
#classes
{
	border-radius:1em;
	float:right;
	width:45%;
	background-color:cyan;
	border:solid;
	margin-right:2.5%;
	margin-top:5%;
	margin-bottom:2.5%;
	wrap:normal;
}
#checkIn
{
	border-radius:1em;
	padding-bottom:2.5%;
	background-color:cyan;
	border:solid;
	float:left;
	clear:left;
	width:30%;
}
body div form
{
	margin-left:10%;
}
body div
{
	margin-top:5%;
	margin-left:2.5%;
}
body div h2
{
	margin-left:5%;
}
#classes form ul
{
	list-style:none;
}
#classes form li
{
	float:left;
	margin-right:2%;
}
#classes form li:nth-child(1)
{
	width:25em;
}
.submit
{
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}
#container
{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}