header
{
	position: absolute;
	top: 0px;
	left:0px;
	width:100%;
	border-bottom:2px solid #ccc;
	background-color:BLUE;
}
header ul
{
	list-style:none outside none;
	margin:0px;
	padding: 0.1%;
}
header li
{
	float:right;
	margin-right:10px;
}
header #breadcrumbs
{
    background-color: rgb(204, 204, 204);
    clear: both;
    font-size: 1.5em;
    padding: 5px;
    margin-top:0px;
    margin-left:0px;
}
#loginButton
{

	width: 100%;
        font-size: 1em;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(204, 204, 204);
}
#enroll
{
	width:10%;
	font-size:1.0em;
	background-color:#cccccc;
}
#check-In
{
	width:20%;
	font-size:1.0em;
	background-color:#cccccc;
}
input[type="text"]
{
	position:relative;
	font-size:1.5em;
}

#studName
{
    color:#f9f9f9;
    border: medium none black;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
}
#studName form
{
    float:right;
}

#container
{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding:0px;
	float:left;
	background:white;
}

#add
{
	border-radius:1em;
	float:left;
	width:45%;
	background-color:cyan;
	border:solid;
        margin-left:2.5%;
	margin-top:10%;
	padding-bottom:3%;
	wrap:normal;
}
#add h2
{
    margin-left:5%;
}
#add form
{
    margin-left:10%;
}
#classes
{
	border-radius:1em;
	float:right;
	width:45%;
	background-color:cyan;
	border:solid;
	margin-right:2.5%;
	margin-top:10%;
	wrap:normal;
}
#classes h2
{
    margin-left:5%;
}
#classes form
{
    margin-left:10%;
}
#checkIn
{
	border-radius:1em;
	background-color:cyan;
	border:solid;
	float:left;
	clear:left;
	width:30%;
        margin-top:5%;
        margin-left:2.5%;
}
#checkIn h2
{
    margin-left:5%;
}
#checkIn form
{
    margin-left:10%;
}
#classes form ul
{
	list-style:none;
}
#classes form li
{
	float:left;
	margin-right:2%;
}
#classes form li:nth-child(1)
{
	width:25em;
}
.submit
{
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}