header
{
	position: absolute;
	top: 0px;
	left:0px;
	width:100%;
	border-bottom:2px solid #ccc;
	background-color:RED;
}
header ul
{
	list-style:none outside none;
	margin:0px;
	padding: 0.1%;
}
header li
{
	float:right;
	margin-right:10px;
}
header #breadcrumbs
{
    background-color: rgb(204, 204, 204);
    clear: both;
    font-size: 1.5em;
    padding: 5px;
    margin-top:0px;
    margin-left:0px;
}
#loginButton
{

	width: 100%;
        font-size: 1em;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(204, 204, 204);
}
li > #loginButton
{
	border:none;
}
#create-class
{
	width:20%;
	font-size:1.0em;
	background-color:#cccccc;
}
#profName
{
    color:#f9f9f9;
    border: medium none black;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
}
#profName form
{
    float:right;
}

#logoPlacement
{
	background-color:white;
	float:left;
	border:outset 1px;
	display:block;
	padding:0%;
	float:left;
}
body
{
	padding-top: 1%;
}
#add
{
	border-radius:1em;
	float:left;
	width:45%;
	background-color:red;
	border:solid;
        margin-left:2.5%;
	margin-top:10%;
	padding-bottom:3%;
	wrap:normal;
}
#add div
{
	margin-left:5%;
}
#add div div span
{
	float:left;
	clear: both;
	display:block;
}
#add div div span
{
	float:left;
	clear:both;
	display:block;
	width:95%;
}
#add div div span label
{
	float:left;
}
#add div div .meetTime label
{
	float:left;
	clear:none;
}
#add div div .meetTime input
{
	float:none;
	clear:none;
}
.meetTime
{
	margin-left:2em;
}
.meetTime span
{
	float:right;
	margin-left:5%;
	margin-bottom:3%;
}
#end
{
	float:none;
}
#classes
{
	border-radius:1em;
	float:right;
	width:45%;
	background-color:red;
	border:solid;
	margin-right:2.5%;
	margin-top:10%;
	wrap:normal;
}
#classes h2
{
    margin-left:5%;
}
#classes form
{
    margin-left:10%;
}
.submit
{
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}

#container
{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

#absent
{
	border:solid;
	border-radius: 1em;
	border-color: #d23737;
	background: #cccccc;
	padding:1em;
	width:15%;
	
}

#absent ul
{

	border:solid;
	border-radius: 1em;
	width:auto;
	margin-right: 1px;
	list-style: none;
	padding:5%;

}
#bottom{

	border-bottom: solid black;
}
.dashboardbox {
    border-radius:1em;
    float:left;
    width:50%;
    background-color:salmon;
    border:solid;
    margin:1%;
    margin-top:90px;
    padding:20px;
}
input[type="text"]
{
	position:relative;
	font-size:1.5em;
}