header
{	
	width:100%;
	background:#f9f9f9;
        min-width:1500px;
        overflow:hidden;
}

#forgotten
{
    
}

#topLoginForm {
    float:right;
    margin-top:20px;
    margin-right:10px;
}


body
{
	padding: 0%;
	margin:0%;
	background: #cccccc;
	font-family: Verdana, Arial, Helvetica, Futura, sans-serif; 
    font-size: 1em; 
    padding:0; 
    margin:0;
}

#features
{
	position: relative;
	text-align: center;
	top:2em;
	left: 5%;
	width: 50%;

}
#features h3
{
	margin-left:3%;
}
#features ul
{
	margin-left:3%;
	list-style:none;
}

#signUp
{
	border-radius: 1em;
	width: 25%;
	height: 24em;
	background-color:#2281e1;
	border:solid;
	position:relative;
	left: 65%;
	bottom:20em;
	border-color: #003e7e;
	text-align: center;

}



#signUp div form span
{
	position: relative;
	width:80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}


.submit
{
	
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}

input[type="text"],  input[type="password"]
{
    position:relative;
    font-size:1.5em;
    

}

#signUp h2
{
	font-size: 2.5em;
	margin-bottom: .2em;
	margin-top: .2em;
}

#RegButton
{
	width:40%;
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	background-color:#63a9f1;
}

#loginButton
{

	width:10%;
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	background-color:#cccccc;

}

div[title="large"] input[type="radio"]
{
	height:1.5em;
	width:1.5em;
	margin-top: 1em;
}

div[title="large"] label
{
	font-size: 1.5em;
}

#container
{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
input.error {
    border:2px outset red;
}