header
{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
	background-color:BLUE;
}
header ul
{
	list-style:none;
	margin:0;
	padding: 0.1%;
}
header li
{
	float:right;
	margin-right:10px;
}
header li a
{
    display:block;
    background-color:#f9f9f9;
    border:1px solid #f9f9f9;
    padding:2%;
}
header #breadcrumbs
{
    background-color: #ccc;
    clear:both;
    font-size:1.5em;
    padding:5px;
}
#loginButton
{
	width:100%;
	font-size: 1.0em;
	margin-right: auto;
	margin-left: auto;
	background-color:#cccccc;
}
#enroll
{
	width:15%;
	font-size:1.0em;
	background-color:#cccccc;
}
#check-In
{
	width:25%;
	font-size:1.0em;
	background-color:#cccccc;
}
input[type="text"]
{
	position:relative;
	font-size:1.5em;
}

#studName
{
    color:#f9f9f9;
    border: black;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
}
#studName form
{
    margin-left:10px;
    display:inline-block;
}

#container
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
        clear:both;
}
#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding:0px;
	float:left;
	background:white;
}

#add
{
	border-radius:1em;
	float:left;
	width:45%;
	border-radius: 1em;
	background-color:#2281e1;
	border:solid #63a9f1;
        margin-left:2.5%;
	margin-top:10%;
	padding-bottom:3%;
	wrap:normal;
}
#add h2
{
    margin-left:5%;
}
#add form
{
    margin-left:10%;
}
#add p
{
    margin-left:3%;
}
#classes
{
	border-radius:1em;
	float:right;
	width:45%;
	margin-right:2.5%;
	margin-top:10%;
	wrap:normal;
	background-color:#2281e1;
	border:solid #63a9f1;
}
#classes h2
{
    margin-left:5%;
}
#classes form
{
    margin-left:10%;
}
#checkIn
{
	border-radius:1em;
	background-color:#2281e1;
	border:solid #63a9f1;
	float:left;
	clear:left;
	width:40%;
        margin-top:5%;
        margin-left:2.5%;
	margin-right:2.5%;
}
#checkIn h2
{
    margin-left:5%;
}
#checkIn form
{
    margin-left:10%;
}
#classes form ul
{
	list-style:none;
}
#classes form li
{
	float:left;
	margin-right:2%;
}
#classes form li:nth-child(1)
{
	width:25em;
}
.submit
{
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}

body{
	font-family: Verdana, Arial, Helvetica, Futura, sans-serif; 
    font-size: 1em; 
    padding:0; 
    margin:0;
    background:#f9f9f9;

}