nav
{
	background-color:red;
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	border-bottom:2px solid #ccc;
}
nav ul
{
	list-style:none;
	margin:0;
	padding: 0.1%;
}
nav li
{
	float:right;
	border:outset 1px;
	margin-right:10px;
}
#loginButton
{

	width:100%;
	font-size: 1.0em;
	margin-right: auto;
	margin-left: auto;
	background-color:#cccccc;

}
li > #loginButton
{
	border:none;
}
#create-class
{
	width:20%;
	font-size:1.0em;
	background-color:#cccccc;
}
input[type="text"]
{
	position:relative;
	font-size:1.5em;
}
#profName
{
	border: black;
	color:#f9f9f9;
	box-shadow: 2px 2px 3px black;
}
#logoPlacement
{
	background-color:white;
	float:left;
	border:outset 1px;
	display:block;
	padding:0%;
	float:left;
}
nav li a
{
	display: block;
	background-color:#f9f9f9;
	border:1px solid #f9f9f9;
	padding:2%;
}
body
{
	padding-top: 1%;
}
body div h2
{
	margin-left: 2%;
}
#add
{
	border-radius:1em;
	float:left;
	width:35%;
	background-color:salmon;
	border:solid;
	margin-left: 5%;
	margin-top:5%;
	padding-bottom:3%;
	wrap:normal;
}
#add div
{
	margin-left:5%;
}
#add div div span
{
	float:left;
	clear: both;
	display:block;
}
#add div div span
{
	float:left;
	clear:both;
	display:block;
	width:95%;
}
#add div div span label
{
	float:left;
}
#add div div .meetTime label
{
	float:left;
	clear:none;
}
#add div div .meetTime input
{
	float:none;
	clear:none;
}
.meetTime
{
	margin-left:2em;
}
.meetTime span
{
	float:right;
	margin-left:5%;
	margin-bottom:3%;
}
#end
{
	float:none;
}
#classes
{
	border-radius:1em;
	float:right;
	width:50%;
	background-color:salmon;
	border:solid;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	wrap:normal;
}
.submit
{
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}

#container
{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

#absent
{
	border:solid;
	border-radius: 1em;
	border-color: #d23737;
	background: #cccccc;
	padding:1em;
	width:15%;
	
}

#absent ul
{

	border:solid;
	border-radius: 1em;
	width:auto;
	margin-right: 1px;
	list-style: none;
	padding:5%;

}
#bottom{

	border-bottom: solid black;
}
