nav
{
	position: absolute;
	top: 0%;
	left:0%;
	width:100%;
	border-bottom:2px solid #ccc;
	background:#f9f9f9;
	height: auto;
}
nav ul
{
	list-style:none;
	margin:0%;
	padding: 0%;
}
nav li
{
	border:outset 1px;
	margin-right:10px;
}
#forgotten
{
	clear:both;
	float:right;
	margin-right:5%;
	width:25%;
}
#forgotten a:first-child
{
	margin-right:20%;
}
#topLoginForm {
    float:right;
    position:relative;
    top:2em;
    margin-right:25px;
}
#logoPlacement
{
	float:left;
	border:outset 1px;
	display:block;
	padding:0%;
	float:left;
}

body
{
	padding-top: 8em;
	padding-right: 3em;
	background: #cccccc;
}
#features
{
	border-radius: 1em;
	float:left;
	width:70%;
	background-color:#d23737;
	color:#f9f9f9;;
	border:solid black;
	border-color: #ec5151;

}
#features h3
{
	margin-left:3%;
}
#features ul
{
	margin-left:3%;
}

#signUp
{
	border-radius: 1em;
	width: 25%;
	height: 22em;
	background-color:#2281e1;
	border:solid;
	float:right;
	border-color: #63a9f1;
	text-align: center;

}



#signUp div form span
{
	position: relative;
	width:80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}


.submit
{
	
	color:black;
	border-radius: 0.5em;
	border: solid black;
	border-width:1px;
	border-color:grey;
	box-shadow: rgba(0,0,0,0.4) 3px 3px 10px 3px;
}
.submit:hover
{
	background-color:grey;
	color:white;
}
.submit:active
{
	background-color:black;
}

input[type="text"],  input[type="password"]
{
    position:relative;
    font-size:1.5em;
    

}

#signUp h2
{
	font-size: 2.5em;
	margin-bottom: .2em;
	margin-top: .2em;
}

#RegButton
{
	width:40%;
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	background-color:#63a9f1;
}

#loginButton
{

	width:10%;
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	background-color:#cccccc;

}

div[title="large"] input[type="radio"]
{
	height:1.5em;
	width:1.5em;
	margin-top: 1em;
}

div[title="large"] label
{
	font-size: 1.5em;
}

